@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Ubuntu', sans-serif;
    color: #182840;
}
.header h1{
    background-color: rgba(121, 189, 190, 0.712);
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navi{
    background-color: rgba(121, 189, 190, 0.712);
    backdrop-filter: blur(5px);
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #9e9e9e;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.esquerdo img {
    width: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: width 0.5s, height 0.5s;
    margin: 6px;
}

.esquerdo img:hover {
    background-color: rgb(241, 241, 241);
    width: 2.5rem;
    border-radius: 1rem;
}

.direito img{
    width: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: width 0.5s, height 0.5s;
    margin: 6px;
}
    
.direito img:hover{
    background-color: rgb(241, 241, 241);
    border-radius: 1rem;
    width: 2.5rem;
}
    
.direito{
    display: flex;
    align-items: center;
}

#busca{
    background-image: url(../imagens/pesquisar.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position: 5px center;
    background-size: 25px;
    width: 12rem;
    height: 5vh;
    border: 1px solid #9e9e9e;
    border-radius: 2rem;
    text-indent: 35px;
    font-size: 16px;
}

.ae{
    float: left;
    font-size: 15px;
    background-color: white;
    height: 90vh;
    width: 20vw;
    border-radius: 5px;
    position: fixed;
    left: 0;
    float: left;
    top: 53px;
}
.notificacao{
    max-height: 45vh;
    overflow: hidden;
}


.notificacao h1{
    padding: 12px;
}

.notificacao p{
    padding: 12px;
    letter-spacing: -.05em;
    border-bottom: 1px solid rgba(207, 230, 230, 0.658);
    border-right: 1px solid rgba(207, 230, 230, 0.658);
    word-wrap: break-word;
}

.notificacao p{
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 1rem;
}

.notificacao p:hover {
    background-color: rgb(209, 201, 201);
    border-radius: 1rem;
}

.ae2{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 47vh;
}

.comunidades{
    display: flex;
    flex-direction: column;
    letter-spacing: -.05em;
    word-wrap: break-word;  
}

.com{
    display: flex;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(207, 230, 230, 0.658);
    border-right: 1px solid rgba(207, 230, 230, 0.658);
    transition: background-color 0.5s;
    border-radius: 1rem;
}

.com:hover {
    background-color: rgb(209, 201, 201);
    border-radius: 1rem;
}

.com img{
    width: 50px;
    padding-right: 15px;
    border-radius: 5px;
    margin: 0%;
}
.ae2 h1{
    font-size: 20px;
    padding: 12px;
}
.ad{
    position: fixed;
    top: 53px;
    right: 0;
    float: right;
    width: 20vw;

}
.trends p{
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(207, 230, 230, 0.658);
    border-left: 1px solid rgba(207, 230, 230, 0.658);
    transition: background-color 0.5s;
    border-radius: 1rem;
    word-wrap: break-word;
}

.trends p:hover {
    background-color: rgb(209, 201, 201);
    border-radius: 1rem;
}

.trends h1{
    padding: 12px;
}

.art_comu{
    display: flex;
    justify-content: center;
    margin: 1rem;
    
}

.div_principal{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 58vw;
}

.div_principal h3{
    border-bottom: 1px solid #9e9e9e;
    margin-top: 30px;
}

.div_tudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.div_meio{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px;
}


.div_meio2{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border: 3px double rgba(107, 187, 187, 0.829);
    border-radius: 1rem;
    width: 11VW;
    min-height: 40VH;
    max-height: 40VH;
    overflow: hidden;
    word-wrap: break-word;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 1rem;
    word-wrap: break-word;
}

.div_meio2:hover {
    background-color: rgb(121, 189, 190);
    border-radius: 1rem;
}

button{
    width: 4vw;
    height: 3.5vh;
    border-radius: 20px;
    border: 1px solid #9e9e9e;
    background-color: rgb(121, 189, 190, 0.5);
    margin: .8rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover{
    background-color: #0b8585;
    border-radius: 1rem;
}

.div_meio2 img{
    width: 80%;
    border-radius: 5px;
}

.linha{
    width: 100%;
    height: 100px;
}

/*--------------------------------------------------------------------------------------------pop-up notificacao*/
.conteudo_not{
    overflow-y: auto;
    width: 25vw;
    height: 70vh;
}
.div_popnotificacao{
    display: none;
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    border-radius: 5px;
    position: fixed;
    z-index: 999;
    left: 1vw;
    top: 9vh;
}
.div_notificacao{
    background-color: #f7f7f7;
    font-size: 14px;
    gap: 5px;
    padding: 10px;
    border-bottom: 1px solid #9e9e9e;
}
.div_notificacao img{
    width: 50px;
    border-radius: 5px;
}
#botaonot{ 
    border: none;
    background-color: transparent;
    margin-left: 8px;
}